<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Maps_Instituciones</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
    integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
    crossorigin=""/>

    <style>
        #map {
            height: 632px;
            position: relative;
        }

        .add-institution-button {
            position: absolute;
            bottom: 584px;
            left: 1110px;
            transform: translateX(6%);
            z-index: 1000; /* Asegura que el botón esté sobre el mapa */
        }
    </style>

    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
    integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
    crossorigin=""></script>

</head>

<body>

    <div id="map"></div>

    <div class="container">
        <!-- Agregamos un botón para abrir la ventana emergente -->
        <button type="button" class="btn btn-primary add-institution-button" data-bs-toggle="modal" data-bs-target="#myModal" style="background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);border: 2px solid rgb(169, 169, 169);" >
            Agregar Institución Educativa
        </button>

        <!-- Ventana emergente -->
        <div class="modal" id="myModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <!-- Encabezado de la ventana emergente -->
                    <div class="modal-header">
                        <h4 class="modal-title">Agregar Institución</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>
                    <div class="modal-body">
                        <!-- Formulario -->
                        <form action="{{request.path}}" method="POST">
                            <!--Crear controles para ingresar los datos, como: Nombre, Laitud, Longitud, Dirección, Horario,Linea de atenciaín, Descrpción, Ruta Imagen-->
                            <!--01. Control de nombre-->
                            <label for="nombre"> Nombre </label>
                            <input type="text" name="nombre" class="form-control"/>
                            <!--02. Control de Latitud-->
                            <label for="latitud"> Latitud </label>
                            <input type="text" name="latitud" class="form-control"/>
                            <!--03. Control de Longitud-->
                            <label for="longitud"> Longitud </label>
                            <input type="text" name="longitud" class="form-control"/>
                            <!--04. Control de Dirección-->
                            <label for="direccion"> Dirección </label>
                            <input type="text" name="direccion" class="form-control"/>
                            <!--05. Control de horario de atención-->
                            <label for="horario"> Horario </label>
                            <input type="text" name="horario" class="form-control"/>
                            <!--06. Control de linea de atención-->
                            <label for="linea_tel"> Telefono Celular </label>
                            <input type="text" name="linea_tel" class="form-control"/>
                            <!--07. Control de Descripcion-->
                            <label for="descripcion"> Descrpción </label>
                            <input type="text" name="descripcion" class="form-control"/>
                            <!--08. Control de Ruta Imagen-->
                            <label for="ruta_imagen"> Ruta Imagen </label>
                            <input type="text" name="ruta_imagen" class="form-control"/>
                            <!--9. Control para anexar datos-->
                            <!-- Creamos un contenedor para poder centrar el botón<-->
                            <div style="text-align: center;">
                                <br>
                                <input type="submit" value="Agregar Institución" class="btn btn-primary" style="background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);border: 2px solid rgb(169, 169, 169);" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        // Tu script Leaflet para el mapa
        var map = L.map('map').setView([4.634060907203215, -74.18274913923244], 15);
    
        L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 19,
            attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
        }).addTo(map);
    
        {% for institucion in instituciones %}
            // Define un icono personalizado con el color que desees
            var customIcon = L.icon({
                iconUrl: '{{ url_for("static", filename="icono.png") }}',
                iconSize: [30, 44],  // Tamaño del icono
                iconAnchor: [28, 32],  // Punto de anclaje del icono
                popupAnchor: [0, -32]  // Punto de anclaje del popup
            });
    
            // Crea el marcador con el icono personalizado
            var marker = L.marker([{{ institucion.latitud }}, {{ institucion.longitud }}], { icon: customIcon }).addTo(map)
                .bindPopup('<center><img src="../{{ institucion.ruta_imagen }}" style="width: 290px"></center><div style="font-size: 16px; width: 310px; height:20px;text-align: center;line-height: 15px;"><b><br>{{ institucion.nombre }}</b></div><br>Dirección: {{ institucion.direccion }}<br>Latitud: {{ institucion.latitud }}<br>Longitud: {{ institucion.longitud }}<br>Horario: {{ institucion.horario }}<br>Telefono: {{ institucion.linea_tel }}<br>Descripcion: {{ institucion.descripcion }}');
        {% endfor %}
    </script>
    
    

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</body>
</html>